@media only screen and (max-width: 576px) {
    .header {
        padding: 1.125vw 3vw;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
    }

    .nav-title {
        margin-bottom: 1vh;
    }

    .menu-list {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5vw;
    }

    .main-menu ul>li {
        font-size: 2vw;
    }

    .banner-container {}

    .banner-content {
        width: 65vw;
    }

    .banner-description,
    .description-details,
    .articles-description,
    .article-description,
    .facts-description,
    .sponsor-description {
        font-size: 1.5vw;
    }

    /* Section Styles */

    .features {
        flex-direction: column;
        padding: 3.125vw 15vw;
    }

    .features-images {
        grid-template-columns: repeat(1, 1fr);
        width: 65vw;
    }

    .features-images img {
        height: 65vw;
    }

    .features-description {
        width: 65vw;
    }


    .features-articles {
        flex-direction: column;
        padding: 3.125vw 15vw;
    }

    .articles {
        width: 65vw;
    }

    .article-title {
        font-size: 2vw;
    }

    .article-description {
        font-size: 1vw;
    }

    .architect-image .architect-btn {
        position: inherit;
        margin-top: 2vh;
        margin-left: 2vw;
        top: auto;
        right: auto;
    }

    .architect-btn {
        width: 50%;
        margin: auto;
        padding: 5px;

    }


    .facts,
    .our-sponsors {
        padding: 3.125vw 15vw;
    }

    .all-facts,
    .sponsors-list {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .facts-description,
    .sponsor-title,
    .sponsor-description {
        margin-bottom: 2vh;
    }

    .all-facts {
        width: 100%;
        gap: 10px;
    }

    .fact {
        padding: 25px;
    }

    .sponsors-list {
        justify-content: center;
        align-items: center;
    }

    footer {
        margin: 5.125vw 12vw;
        padding: 2vh 3vw;
        text-align: center;
    }


}